.gamingArea {
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-rows: 100% 100% 100%;
}
.areaBlocker {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: 1000;
}


.playScreen {
    height: 2000px;
}

#sprite-container {
  position: absolute;
  top: 400px;
}

.sprite-image {
    height: 1180px;
    width: 740px;
    background: url("images/spritesheet.png")
      0px 0px;
}

.burgerContainer {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    z-index: 10;
  }
  
  .bar1, .bar2, .bar3 {
    width: 60px;
    height: 10px;
    margin: 6px 0;
    transition: 0.4s;
  }

  .dark {
    background-color: #333;
  }

  .bright {
    background-color: white;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-13px, 13px);
    transform: rotate(-45deg) translate(-13px, 13px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .menuBackground{
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 300px;
      background-color: rgb(58, 58, 58);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
  }

  .menuItem {
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menuItemContent {
    font-size: 50pt;
  }

.hidden {
    display: none;
}

.microphone {
  background: url(images/mic.png);
  height: 500px;
  /* position: absolute; */
  width: 120px;
  margin-right: 0%;
  display: inline-block;
  margin-left: 650px;
  margin-top: 920px;
}